[submodule "models-pkg"]
	path = models-pkg
	url = git@github.com:ArtemVinokurov/palitra_ros2.git
	branch = main
[submodule "api-pkg/api"]
	path = api-pkg/api
	url = git@github.com:MrLeonardPak/palette-server-api.git
	branch = dev
[submodule "ui-pkg/ui"]
	path = ui-pkg/ui
	url = git@github.com:MrLeonardPak/palette-server-ui.git
